html {
    box-sizing:border-box;

}

body {
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
padding-top: 150px;
margin-left: 20px;
margin-right: 20px;
}

.blocks__item {
    width: clamp(200px, 27vw, 352px);
    height: clamp(200px, 27vw, 352px);
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    color: white;
}

.blocks__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.blocks__item:first-child {
    animation: animation 1.5s ease-in-out infinite;
}

.blocks__item:nth-child(2) {
    grid-area: 3/1/4/2;
    animation: animation 1.5s ease-in-out 0.5s infinite;
}

.blocks__item:nth-child(3) {
    grid-area: 2/2/3/3;
    animation: animation 1.5s ease-in-out 0.75s infinite;
}

.blocks__item:nth-child(4) {
    grid-area:3/2/4/3;
    animation: animation 1.5s ease-in-out 1s infinite;
}

.blocks__item:nth-child(5) {
    grid-area: 2/3/3/4;
    animation: animation 1.5s ease-in-out  1.25s infinite;
}

.blocks__item:nth-child(6) {
    grid-area: 1/3/2/4;
    animation: animation 1.5s ease-in-out  0.25s infinite; 
}

@media (max-width: 768px) {
    .main {
        margin-left: 10px;
        margin-right: 10px;
    }
    .blocks__item {
        width: clamp(200px, 46vw, 352px);
        height: clamp(200px, 46vw, 352px);
}

.blocks__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.blocks__item:nth-child(2) {
    grid-area: 1/2/2/3;
}

.blocks__item:nth-child(3) {
    grid-area: 2/1/3/2;
}

.blocks__item:nth-child(4) {
    grid-area:2/2/3/3;
}

.blocks__item:nth-child(5) {
    grid-area: 3/1/4/2;
}

.blocks__item:nth-child(6) {
    grid-area: 3/2/4/3;
}


}

@media (max-width: 430px) {
    .blocks__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .blocks__item {
        width: clamp(320px, 87vw, 375px);
        height: clamp(320px, 87vw, 375px);
}

}

@keyframes animation {
    0% {
        background-color: red;
    }

    40% {
        background-color: #0500FF;
        
    }

    80% {
        background-color: #52FF00;
    }

    100% {
        background-color: red;
    }
}